<div id="comments" class="py-10"></div>
<div class="mx-auto max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="flex border-t mt-20 sm:mb-6 pt-8 sm:px-2 justify-between">
	  <h2 class="mt-2 leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">{{ post.comments.count }} commentaire(s)</h2>
    <a href="{{ add_comment_link }}" class="text-pink-500 inline-flex items-center hover:underline mt-2 text-sm sm:text-base">Ajouter un commentaire
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewbox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </a>
  </div>

	{% for comment in post.comments %}
		<section class="rounded-lg bg-white p-8 my-4 shadow-lg border border-gray-200">
      <div class="flex pb-4">
        {# 
        <img class="rounded-full inline-flex w-20 h-20 bg-gray-200 overflow-hidden" src="{{ comment.avatar(80,template_uri~"/img/dude.jpg") }}" alt="Avatar de {{ comment.author.name }}"/>
        #}
        <div class="w-10 h-10 rounded-full inline-flex items-center self-center justify-center bg-gray-200 text-gray-400">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewbox="0 0 24 24">
            <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>
        </div>
        <div class="flex flex-col px-4">
          <h2 class="font-medium text-gray-900 text-lg">{{ comment.author.name }}</h2>
          <div class="text-gray-400 text-xs tracking-widest uppercase">{{ comment.comment_date|time_ago }}</div>
        </div>
      </div>
      <div class="border-gray-200 border-t pt-8 text-center sm:text-left">
        <div class="leading-relaxed prose mb-4 mr-0 max-w-max">{{ comment.content }}</div>
        {#
        <a class="text-pink-500 inline-flex items-center">Répondre
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewbox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
        #}
      </div>		
		</section>
	{% endfor %}
</div>