<article>
	<div class="relative py-16 overflow-hidden">
		<div class="relative px-4 sm:px-6 lg:px-8">
			<div class="text-lg max-w-prose mx-auto">
				<h1>
					<span class="block text-base text-center text-pink-600 font-semibold tracking-wide uppercase">{{ post.category.title }}</span>
					<span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">{{ post.title }}</span>
				</h1>
        		{{ function('NwComponents::call', 'posts/post-terms') }}
				<img class="mt-6" src="{{ post.thumbnail.src }}" srcset="{{ post.thumbnail.srcset }}" alt="{{ post.thumbnail.alt }}">
			</div>
			<div class="mt-6 prose prose-pink prose-lg text-gray-500 mx-auto">
				{{post.content}}
			</div>
		</div>
	</div>
</article>
